<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title> <!--Variable que recibe del backend-->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <h1 th:text="${encabezado}"></h1>

    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio (Sin IVA)</th>
                <th>Precio con IVA</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entidad: ${entidades}">
                <td th:text="${entidad.id}"></td>
                <td th:text="${entidad.nombre}"></td>
                <td th:text="${entidad.descripcion}"></td>
                <td th:text="${entidad.precio}"></td>
                <td th:text="${entidad.precioConIVA}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>